body {
    font-family: sans-serif;
    font-size: medium;
    background: #DDC3D8
}

p {
    color: #615e5e;
    /* font-size: 30px; */
    font-weight: bold;
    padding: 6px 24px;

}

.container {
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: fit-content;


}

input[type=button] {

    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #b1aeae;
    display: inlineblock;
    align-items: center;
    cursor: pointer;
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.input[type=button]:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #706d6d;
}

.input[type=button]:active {
    position: relative;
    top: 1px;
}

input[type=text] {

    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #d8d5d5;
    padding: 8px;
    text-decoration: none;

}

h4 {

    color: #615e5e;
    /* font-size: 30px; */
    font-weight: bold;
    padding: 6px 24px;
}

table {
    /* color: #615e5e; */
    /* display: inline-flex;
    flex-direction: column; */
    padding: 10px;
    border-collapse: collapse;
    text-align: left;
    /* border: 1px rgb(221, 17, 129);
    border-style: solid; */

}

table td {
    padding: 10px;

}

table tbody tr {

    font-weight: bold;
    color: rgb(93, 93, 219);

}